AppAdmin/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetCitiesName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCitiesName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCitiesNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStationsFromCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsFromCity" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStationsFromCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsFromCityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStationOfCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationOfCity" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStationOfCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationOfCityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EmptyCache_InputMessage">
    <wsdl:part name="parameters" element="tns:EmptyCache" />
  </wsdl:message>
  <wsdl:message name="IService1_EmptyCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmptyCacheResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetCacheDelay_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCacheDelay" />
  </wsdl:message>
  <wsdl:message name="IService1_SetCacheDelay_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCacheDelayResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetCitiesName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCitiesName" message="tns:IService1_GetCitiesName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCitiesNameResponse" message="tns:IService1_GetCitiesName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationsFromCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStationsFromCity" message="tns:IService1_GetStationsFromCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStationsFromCityResponse" message="tns:IService1_GetStationsFromCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationOfCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStationOfCity" message="tns:IService1_GetStationOfCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStationOfCityResponse" message="tns:IService1_GetStationOfCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmptyCache">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EmptyCache" message="tns:IService1_EmptyCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EmptyCacheResponse" message="tns:IService1_EmptyCache_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCacheDelay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetCacheDelay" message="tns:IService1_SetCacheDelay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetCacheDelayResponse" message="tns:IService1_SetCacheDelay_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCitiesName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCitiesName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationsFromCity">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStationsFromCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationOfCity">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStationOfCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmptyCache">
      <soap:operation soapAction="http://tempuri.org/IService1/EmptyCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCacheDelay">
      <soap:operation soapAction="http://tempuri.org/IService1/SetCacheDelay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Solution5/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>